LameDuck/src/conf/xml-resources/web-services/BankService/wsdl/fastmoney.imm.dtu.dk_8080/BankService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankService?wsdl" name="BankService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankService?wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd" schemaLocation="BankService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="chargeCreditCard">
    <part name="parameters" element="ns1:chargeCreditCard" xmlns:ns1="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd"/>
  </message>
  <message name="chargeCreditCardResponse">
    <part name="parameters" element="ns2:chargeCreditCardResponse" xmlns:ns2="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd"/>
  </message>
  <message name="CreditCardFaultMessage">
    <part name="fault" element="ns3:CreditCardFault" xmlns:ns3="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd"/>
  </message>
  <message name="validateCreditCard">
    <part name="parameters" element="ns4:validateCreditCard" xmlns:ns4="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd"/>
  </message>
  <message name="validateCreditCardResponse">
    <part name="parameters" element="ns5:validateCreditCardResponse" xmlns:ns5="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd"/>
  </message>
  <message name="refundCreditCard">
    <part name="parameters" element="ns6:refundCreditCard" xmlns:ns6="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd"/>
  </message>
  <message name="refundCreditCardResponse">
    <part name="parameters" element="ns7:refundCreditCardResponse" xmlns:ns7="http://fastmoney.imm.dtu.dk:8080/FastMoney/BankServiceTypes.xsd"/>
  </message>
  <portType name="BankPortType">
    <operation name="chargeCreditCard">
      <input message="tns:chargeCreditCard"/>
      <output message="tns:chargeCreditCardResponse"/>
      <fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"/>
    </operation>
    <operation name="validateCreditCard">
      <input message="tns:validateCreditCard"/>
      <output message="tns:validateCreditCardResponse"/>
      <fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"/>
    </operation>
    <operation name="refundCreditCard">
      <input message="tns:refundCreditCard"/>
      <output message="tns:refundCreditCardResponse"/>
      <fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage"/>
    </operation>
  </portType>
  <binding name="BankPortBinding" type="tns:BankPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="chargeCreditCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CreditCardFaultMessage">
        <soap:fault name="CreditCardFaultMessage" use="literal"/>
      </fault>
    </operation>
    <operation name="validateCreditCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CreditCardFaultMessage">
        <soap:fault name="CreditCardFaultMessage" use="literal"/>
      </fault>
    </operation>
    <operation name="refundCreditCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CreditCardFaultMessage">
        <soap:fault name="CreditCardFaultMessage" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BankService">
    <port name="BankPort" binding="tns:BankPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

