TestTravelGoodSOAP/src/META-INF/wsdl/192.168.0.100_9090/TravelGoodBPELApp-sun-http-binding/TravelGoodBPEL/travelgoodBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.travelgood.ws"
            xmlns:tns="http://xml.travelgood.ws"
            elementFormDefault="qualified" xmlns:ns0="http://LameDuck/">
    <xsd:import schemaLocation="http://localhost:8080/LameDuck/LameDuckWebService?xsd=2" namespace="http://LameDuck/"/>
    
    <xsd:complexType name="stay">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="address" type="xsd:string"></xsd:element>
            <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
            <xsd:element name="price" type="xsd:int"></xsd:element>
            <xsd:element name="creditCardRequired" type="xsd:boolean"></xsd:element>
            <xsd:element name="reservationServiceName" type="xsd:string"></xsd:element>
            <xsd:element name="status" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="itinerary">
        <xsd:sequence>
            <xsd:element name="hotelbookings" type="tns:stay" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="owner" type="tns:personName"></xsd:element>
            <xsd:element name="status" type="tns:bookingStatus"></xsd:element>
            <xsd:element name="bookingDate" type="tns:bookingDate" minOccurs="0"></xsd:element>
            <xsd:element name="ID" type="tns:itineraryID"></xsd:element>
            <xsd:element name="flightBookings" type="tns:flightBooking" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="accommodationOptions">
        <xsd:sequence>
            <xsd:element name="stays" type="tns:stay" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="airport">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="carrier">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="destination">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="creditCardNumber">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="personName">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="itineraryID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="bookingStatus">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="bookingDate">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:complexType name="flightBooking">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:string"></xsd:element>
            <xsd:element name="flight" type="ns0:flightOption"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
