TestTravelGoodSOAP/xml-resources/web-service-references/travelgoodPort/wsdl/localhost_9080/travelgoodService/travelgoodPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelgood" targetNamespace="http://travelgood.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://xml.travelgood.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://travelgood.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://travelgood.ws">
            <xsd:import namespace="http://xml.travelgood.ws" schemaLocation="http://jonas-XPS13:9080/TravelGoodBPELApp-sun-http-binding/TravelGoodBPEL/travelgoodBPEL.xsd"/>
        </xsd:schema>
  </types>
  <message name="getFlightsResponse">
    <part name="flightList" type="ns1:travelOptions">
    </part>
  </message>
  <message name="getHotelsResponse">
    <part name="hotels" type="ns1:accommodationOptions">
    </part>
  </message>
  <message name="getItineraryRequest">
    <part name="id" type="ns1:itineraryID">
    </part>
  </message>
  <message name="addHotelRequest">
    <part name="itineraryID" type="ns1:itineraryID">
    </part>
    <part name="bookingNumber" type="xsd:int">
    </part>
  </message>
  <message name="cancelItineraryRequest">
    <part name="itineraryID" type="ns1:itineraryID">
    </part>
  </message>
  <message name="createItineraryRequest">
    <part name="personName" type="ns1:personName">
    </part>
  </message>
  <message name="addHotelResponse">
    <part name="successfull" type="xsd:boolean">
    </part>
  </message>
  <message name="addFlightResponse">
    <part name="successfull" type="xsd:boolean">
    </part>
  </message>
  <message name="bookItineraryRequest">
    <part name="itineraryID" type="ns1:itineraryID">
    </part>
    <part name="creditCardNumber" type="ns1:creditCardNumber">
    </part>
    <part name="cardOwner" type="ns1:personName">
    </part>
  </message>
  <message name="bookItineraryResponse">
    <part name="successful" type="xsd:boolean">
    </part>
  </message>
  <message name="getFlightsRequest">
    <part name="arrivalDestination" type="ns1:destination">
    </part>
    <part name="time" type="xsd:dateTime">
    </part>
    <part name="departureDestination" type="ns1:destination">
    </part>
  </message>
  <message name="getHotelsRequest">
    <part name="start" type="xsd:dateTime">
    </part>
    <part name="end" type="xsd:dateTime">
    </part>
    <part name="city" type="ns1:destination">
    </part>
  </message>
  <message name="createItineraryResponse">
    <part name="itineraryID" type="ns1:itineraryID">
    </part>
  </message>
  <message name="cancelItineraryResponse">
    <part name="success" type="xsd:boolean">
    </part>
  </message>
  <message name="getItineraryResponse">
    <part name="itinerary" type="ns1:itinerary">
    </part>
  </message>
  <message name="addFlightRequest">
    <part name="itineraryID" type="ns1:itineraryID">
    </part>
    <part name="bookingNumber" type="xsd:int">
    </part>
  </message>
  <portType name="itineraryPortType">
    <operation name="createItinerary">
      <input name="input1" message="tns:createItineraryRequest">
    </input>
      <output name="output1" message="tns:createItineraryResponse">
    </output>
    </operation>
    <operation name="bookItinerary">
      <input name="input2" message="tns:bookItineraryRequest">
    </input>
      <output name="output2" message="tns:bookItineraryResponse">
    </output>
    </operation>
    <operation name="addFlight">
      <input name="input3" message="tns:addFlightRequest">
    </input>
      <output name="output3" message="tns:addFlightResponse">
    </output>
    </operation>
    <operation name="addHotel">
      <input name="input4" message="tns:addHotelRequest">
    </input>
      <output name="output4" message="tns:addHotelResponse">
    </output>
    </operation>
    <operation name="cancelItinerary">
      <input name="input5" message="tns:cancelItineraryRequest">
    </input>
      <output name="output5" message="tns:cancelItineraryResponse">
    </output>
    </operation>
    <operation name="getFlights">
      <input name="input6" message="tns:getFlightsRequest">
    </input>
      <output name="output6" message="tns:getFlightsResponse">
    </output>
    </operation>
    <operation name="getHotels">
      <input name="input7" message="tns:getHotelsRequest">
    </input>
      <output name="output7" message="tns:getHotelsResponse">
    </output>
    </operation>
    <operation name="getItinerary">
      <input name="input8" message="tns:getItineraryRequest">
    </input>
      <output name="output8" message="tns:getItineraryResponse">
    </output>
    </operation>
  </portType>
  <binding name="travelgoodBinding" type="tns:itineraryPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createItinerary">
      <soap:operation/>
      <input name="input1">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output1">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
    <operation name="bookItinerary">
      <soap:operation/>
      <input name="input2">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output2">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
    <operation name="addFlight">
      <soap:operation/>
      <input name="input3">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output3">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
    <operation name="addHotel">
      <soap:operation/>
      <input name="input4">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output4">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
    <operation name="cancelItinerary">
      <soap:operation/>
      <input name="input5">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output5">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
    <operation name="getFlights">
      <soap:operation/>
      <input name="input6">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output6">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
    <operation name="getHotels">
      <soap:operation/>
      <input name="input7">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output7">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
    <operation name="getItinerary">
      <soap:operation/>
      <input name="input8">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </input>
      <output name="output8">
        <soap:body use="literal" namespace="http://travelgood.ws"/>
      </output>
    </operation>
  </binding>
  <service name="travelgoodService">
    <port name="travelgoodPort" binding="tns:travelgoodBinding">
      <soap:address location="http://jonas-XPS13:9080/travelgoodService/travelgoodPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="travelgood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
        In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
        A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="itineraryPortTypeRole" portType="tns:itineraryPortType"/>
    </plnk:partnerLinkType>
</definitions>
