TravelGood/NiceView/web/WEB-INF/wsdl/NiceViewService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://niceView/" name="NiceViewService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://niceView/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://niceView/" schemaLocation="NiceViewService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getHotels">
    <part name="parameters" element="tns:getHotels"/>
  </message>
  <message name="getHotelsResponse">
    <part name="parameters" element="tns:getHotelsResponse"/>
  </message>
  <message name="cancelHotel">
    <part name="parameters" element="tns:cancelHotel"/>
  </message>
  <message name="cancelHotelResponse">
    <part name="parameters" element="tns:cancelHotelResponse"/>
  </message>
  <message name="NiceViewFault">
    <part name="fault" element="tns:NiceViewFault"/>
  </message>
  <message name="bookHotel">
    <part name="parameters" element="tns:bookHotel"/>
  </message>
  <message name="bookHotelResponse">
    <part name="parameters" element="tns:bookHotelResponse"/>
  </message>
  <portType name="niceViewWebService">
    <operation name="getHotels">
      <input wsam:Action="http://niceView/niceViewWebService/getHotelsRequest" message="tns:getHotels"/>
      <output wsam:Action="http://niceView/niceViewWebService/getHotelsResponse" message="tns:getHotelsResponse"/>
    </operation>
    <operation name="cancelHotel">
      <input wsam:Action="http://niceView/niceViewWebService/cancelHotelRequest" message="tns:cancelHotel"/>
      <output wsam:Action="http://niceView/niceViewWebService/cancelHotelResponse" message="tns:cancelHotelResponse"/>
      <fault message="tns:NiceViewFault" name="NiceViewFault" wsam:Action="http://niceView/niceViewWebService/cancelHotel/Fault/NiceViewFault"/>
    </operation>
    <operation name="bookHotel">
      <input wsam:Action="http://niceView/niceViewWebService/bookHotelRequest" message="tns:bookHotel"/>
      <output wsam:Action="http://niceView/niceViewWebService/bookHotelResponse" message="tns:bookHotelResponse"/>
      <fault message="tns:NiceViewFault" name="NiceViewFault" wsam:Action="http://niceView/niceViewWebService/bookHotel/Fault/NiceViewFault"/>
    </operation>
  </portType>
  <binding name="niceViewWebServicePortBinding" type="tns:niceViewWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getHotels">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelHotel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NiceViewFault">
        <soap:fault name="NiceViewFault" use="literal"/>
      </fault>
    </operation>
    <operation name="bookHotel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NiceViewFault">
        <soap:fault name="NiceViewFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="NiceViewService">
    <port name="niceViewWebServicePort" binding="tns:niceViewWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

