NiceViewTest/src/META-INF/wsdl/localhost_8080/web/NiceViewService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://niceView/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://niceView/" name="NiceViewService">
<types>
<xsd:schema>
<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/web/NiceViewService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://niceView/" schemaLocation="http://localhost:8080/web/NiceViewService?xsd=2"/>
</xsd:schema>
</types>
<message name="getHotels">
<part name="parameters" element="tns:getHotels"/>
</message>
<message name="getHotelsResponse">
<part name="parameters" element="tns:getHotelsResponse"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<message name="NiceViewFault">
<part name="fault" element="tns:NiceViewFault"/>
</message>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<portType name="niceViewWebService">
<operation name="getHotels">
<input wsam:Action="http://niceView/niceViewWebService/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://niceView/niceViewWebService/getHotelsResponse" message="tns:getHotelsResponse"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://niceView/niceViewWebService/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://niceView/niceViewWebService/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:NiceViewFault" name="NiceViewFault" wsam:Action="http://niceView/niceViewWebService/bookHotel/Fault/NiceViewFault"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://niceView/niceViewWebService/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://niceView/niceViewWebService/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:NiceViewFault" name="NiceViewFault" wsam:Action="http://niceView/niceViewWebService/cancelHotel/Fault/NiceViewFault"/>
</operation>
</portType>
<binding name="niceViewWebServicePortBinding" type="tns:niceViewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NiceViewFault">
<soap:fault name="NiceViewFault" use="literal"/>
</fault>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NiceViewFault">
<soap:fault name="NiceViewFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="NiceViewService">
<port name="niceViewWebServicePort" binding="tns:niceViewWebServicePortBinding">
<soap:address location="http://localhost:8080/web/NiceViewService"/>
</port>
</service>
</definitions>