xml-resources/web-service-references/travelgoodPort/wsdl/localhost_8080/ItineraryHandlerService/itineraryHandlerService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ws.itinerary" targetNamespace="ws.itinerary" elementFormDefault="qualified">
    
    <xsd:simpleType name="creditCardNumber">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="personName">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:complexType name="itinerary">
        <xsd:sequence>
            <xsd:element name="id" type="tns:itineraryID"/>
            <xsd:element name="bookings" type="tns:booking" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element name="owner" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="itineraryID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:complexType name="booking">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="bookingNumber" type="xsd:int"/>
            <xsd:element name="isFlightElseHotel" type="xsd:boolean"/>
            <xsd:element name="price" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>