TravelGoodBPELApp/src/jbiServiceUnits/META-INF/TravelGoodBPEL/src/_references/_projects/LameDuck/web/WEB-INF/wsdl/LameDuckWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://LameDuck/" name="LameDuckWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://LameDuck/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://LameDuck/" schemaLocation="LameDuckWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getFlights">
    <part name="parameters" element="tns:getFlights"/>
  </message>
  <message name="getFlightsResponse">
    <part name="parameters" element="tns:getFlightsResponse"/>
  </message>
  <message name="LameDuckException">
    <part name="fault" element="tns:LameDuckException"/>
  </message>
  <message name="bookFlight">
    <part name="parameters" element="tns:bookFlight"/>
  </message>
  <message name="bookFlightResponse">
    <part name="parameters" element="tns:bookFlightResponse"/>
  </message>
  <message name="cancelFlight">
    <part name="parameters" element="tns:cancelFlight"/>
  </message>
  <message name="cancelFlightResponse">
    <part name="parameters" element="tns:cancelFlightResponse"/>
  </message>
  <portType name="LameDuckWebService">
    <operation name="getFlights">
      <input wsam:Action="http://LameDuck/LameDuckWebService/getFlightsRequest" message="tns:getFlights"/>
      <output wsam:Action="http://LameDuck/LameDuckWebService/getFlightsResponse" message="tns:getFlightsResponse"/>
      <fault message="tns:LameDuckException" name="LameDuckException" wsam:Action="http://LameDuck/LameDuckWebService/getFlights/Fault/LameDuckException"/>
    </operation>
    <operation name="bookFlight">
      <input wsam:Action="http://LameDuck/LameDuckWebService/bookFlightRequest" message="tns:bookFlight"/>
      <output wsam:Action="http://LameDuck/LameDuckWebService/bookFlightResponse" message="tns:bookFlightResponse"/>
      <fault message="tns:LameDuckException" name="LameDuckException" wsam:Action="http://LameDuck/LameDuckWebService/bookFlight/Fault/LameDuckException"/>
    </operation>
    <operation name="cancelFlight">
      <input wsam:Action="http://LameDuck/LameDuckWebService/cancelFlightRequest" message="tns:cancelFlight"/>
      <output wsam:Action="http://LameDuck/LameDuckWebService/cancelFlightResponse" message="tns:cancelFlightResponse"/>
      <fault message="tns:LameDuckException" name="LameDuckException" wsam:Action="http://LameDuck/LameDuckWebService/cancelFlight/Fault/LameDuckException"/>
    </operation>
  </portType>
  <binding name="LameDuckWebServicePortBinding" type="tns:LameDuckWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getFlights">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="LameDuckException">
        <soap:fault name="LameDuckException" use="literal"/>
      </fault>
    </operation>
    <operation name="bookFlight">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="LameDuckException">
        <soap:fault name="LameDuckException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelFlight">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="LameDuckException">
        <soap:fault name="LameDuckException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LameDuckWebService">
    <port name="LameDuckWebServicePort" binding="tns:LameDuckWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

