TravelGoodBPELApp/src/jbiServiceUnits/META-INF/TravelGoodBPEL/src/_references/_projects/LameDuck/web/WEB-INF/wsdl/LameDuckWebService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://LameDuck/" xmlns:tns="http://LameDuck/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="LameDuckException" nillable="true" type="tns:lameDuckExceptionBean"/>

  <xs:element name="bookFlight" nillable="true" type="tns:bookFlight"/>

  <xs:element name="bookFlightResponse" nillable="true" type="tns:bookFlightResponse"/>

  <xs:element name="cancelFlight" nillable="true" type="tns:cancelFlight"/>

  <xs:element name="cancelFlightResponse" nillable="true" type="tns:cancelFlightResponse"/>

  <xs:element name="getFlights" nillable="true" type="tns:getFlights"/>

  <xs:element name="getFlightsResponse" nillable="true" type="tns:getFlightsResponse"/>

  <xs:complexType name="cancelFlight">
    <xs:sequence>
      <xs:element name="bookingNumber" type="xs:int"/>
      <xs:element name="creditCard" type="tns:creditCardInfoType" minOccurs="0"/>
      <xs:element name="price" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="creditCardInfoType">
    <xs:sequence>
      <xs:element name="expirationDate" type="tns:expirationDateType" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="number" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="expirationDateType">
    <xs:sequence>
      <xs:element name="month" type="xs:int"/>
      <xs:element name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelFlightResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lameDuckExceptionBean">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFlights">
    <xs:sequence>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="from" type="xs:string" minOccurs="0"/>
      <xs:element name="to" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFlightsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:flightOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="flightOption">
    <xs:sequence>
      <xs:element name="airlineReservationService" type="xs:string" minOccurs="0"/>
      <xs:element name="bookingNumber" type="xs:int"/>
      <xs:element name="flight" type="tns:flight" minOccurs="0"/>
      <xs:element name="price" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="flight">
    <xs:sequence>
      <xs:element name="airline" type="xs:string" minOccurs="0"/>
      <xs:element name="arrivalTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="departureTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="destination" type="xs:string" minOccurs="0"/>
      <xs:element name="source" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookFlight">
    <xs:sequence>
      <xs:element name="bookingNumber" type="xs:int"/>
      <xs:element name="creditCard" type="tns:creditCardInfoType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookFlightResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

