HotelMappingService/src/conf/xml-resources/web-services/hotelMappingService/wsdl/localhost_8080/ItineraryHandlerService/itineraryHandlerService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ws.travelgood.hotellist" targetNamespace="ws.travelgood.hotellist" elementFormDefault="qualified">
    
    <xsd:complexType name="stay">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="bookingNumber" type="xsd:int"/>
            <xsd:element name="price" type="xsd:int"/>
            <xsd:element name="creditCardRequired" type="xsd:boolean"/>
            <xsd:element name="reservationServiceName" type="xsd:string"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="checkIn" type="xsd:dateTime"/>
            <xsd:element name="checkOut" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="accommodationOptions">
        <xsd:sequence>
            <xsd:element name="stays" type="tns:stay" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>