src/META-INF/wsdl/10.16.172.153_9070/TravelGoodBPELApplication-sun-http-binding/TravelGoodBPEL/travelgoodBPEL.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.travelgood.ws"
            xmlns:tns="http://xml.travelgood.ws"
            elementFormDefault="qualified">

    <xsd:element name="getFlightsResponse" type="tns:getFlightsResponse"/>
    
    <xsd:complexType name="getFlightsResponse">
        <xsd:sequence>
            <xsd:element name="return" type="tns:flightOption" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

<xsd:complexType name="flightOption">
    <xsd:sequence>
        <xsd:element name="airlineReservationService" type="xsd:string" minOccurs="0"/>
        <xsd:element name="bookingNumber" type="xsd:int"/>
        <xsd:element name="flight" type="tns:flight" minOccurs="0"/>
        <xsd:element name="price" type="xsd:int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="flight">
    <xsd:sequence>
        <xsd:element name="airline" type="xsd:string" minOccurs="0"/>
        <xsd:element name="arrivalTime" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="departureTime" type="xsd:dateTime" minOccurs="0"/>
        <xsd:element name="destination" type="xsd:string" minOccurs="0"/>
        <xsd:element name="id" type="xsd:int"/>
        <xsd:element name="source" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="getHotelsResponse">
    <xsd:sequence>
        <xsd:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="reservation">
    <xsd:sequence>
        <xsd:element name="hotelInfo" type="tns:hotel" minOccurs="0"/>
            <xsd:element name="bookingNumber" type="xsd:int"/>
        <xsd:element name="totalPrice" type="xsd:int"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="hotel">
    <xsd:sequence>
        <xsd:element name="name" type="xsd:string" minOccurs="0"/>
        <xsd:element name="address" type="xsd:string" minOccurs="0"/>
        <xsd:element name="creditCardGuarantee" type="xsd:boolean"/>
        <xsd:element name="hotelReservationService" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
</xsd:complexType>
    
    <xsd:complexType name="stay">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="address" type="xsd:string"></xsd:element>
            <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
            <xsd:element name="price" type="xsd:int"></xsd:element>
            <xsd:element name="creditCardRequired" type="xsd:boolean"></xsd:element>
            <xsd:element name="reservationServiceName" type="xsd:string"></xsd:element>
            <xsd:element name="status" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="itinerary">
        <xsd:sequence>
            <xsd:element name="hotelbookings" type="tns:stay" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            <xsd:element name="owner" type="tns:personName"></xsd:element>
            <xsd:element name="status" type="tns:bookingStatus"></xsd:element>
            <xsd:element name="bookingDate" type="tns:bookingDate" minOccurs="0"></xsd:element>
            <xsd:element name="ID" type="tns:itineraryID"></xsd:element>
            <xsd:element name="flightBookings" type="tns:flightBooking" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="accommodationOptions">
        <xsd:sequence>
            <xsd:element name="stays" type="tns:stay" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="airport">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="carrier">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="destination">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="creditCardNumber">
        <xsd:restriction base="xsd:int"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="personName">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="itineraryID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="bookingStatus">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="bookingDate">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:complexType name="flightBooking">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:string"></xsd:element>
            <xsd:element name="flight" type="tns:flightOption"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
